@using System.Security;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tienda</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p class="lead">Si cuentas con un usuario ingresa en la opción Login, en caso contrario regirtrate en la opción Registrar</p>
    }
</div>

