@model OnlineStore.UI.Web.Models.NewOrderModel
@using System.Security;
@{
    ViewBag.Title = "Home Page";
}
<!--header strat here-->
<!--header end here-->
<!--banner strat here-->
<div class="banner">
    <div class="container">
        <div class="banner-main">
            <div class="col-md-6 banner-left">
                <a href="#"><img src="~/images/ba.png" alt="" class="img-responsive"></a>
            </div>
            <div class="col-md-6 banner-right simpleCart_shelfItem">

                @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "orderForm" }))
                {
                    @Html.AntiForgeryToken()
                    <h1>Bolsa de mano</h1>
                    <h5 class="item_price">$10,000.00</h5>
                    <ul class="bann-small-img">
                        <li><a href="#"><img src="~/images/b1.jpg"></a></li>
                        <li><a href="#"><img src="~/images/b2.jpg"></a></li>
                    </ul>
                    <h6>Size Charts</h6>
                    <ul class="bann-btns">
                        <li>
                            <select class="bann-size">
                                <option value="select your location">Size</option>
                                <option value="saab">Small</option>
                                <option value="fiat">Medium</option>
                                <option value="audi">Large</option>
                            </select>
                        </li>

                        <li>
                            <div>
                                <input type="submit"  value="Agregar al carrito">
                            
                            </div>
                        </li>
                    </ul>
                }
                </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--banner end here-->
