.vs
OnlineStore.Business/bin/
OnlineStore.Business/obj/
OnlineStore.Entities/bin/
OnlineStore.Entities/obj/
OnlineStore.Data/bin/
OnlineStore.Data/obj/
OnlineStore.WebApi/bin/
OnlineStore.WebApi/obj/
OnlineStore.WebApi.Test/bin/