@model OnlineStore.UI.Web.Models.OrdersModel
@{
    ViewBag.Title = "Orders";
}

<div class="ckeckout">
    <div class="container">
        <div class="ckeckout-top">
            <div class=" cart-items heading">
                <h1>Ordenes registradas</h1>
                <div class="in-check">
                    <ul class="unit">
                        <li><span>Item</span></li>
                        <li><span>Product Name</span></li>
                        <li><span>Unit Price</span></li>
                        <li><span>Delivery Details</span></li>
                        <li> </li>
                        <div class="clearfix"> </div>
                    </ul>

                    @foreach (var item in Model.Orders)
                    {
                        <ul class="cart-header simpleCart_shelfItem">
                            <div class="close1"> </div>
                            <li class="ring-in">
                                <a href="single.html"><img src="~/images/ba.png" class="img-responsive" alt=""></a>
                            </li>
                            <li><span>Bolsa de mano</span></li>
                            <li><span class="item_price">$10,000.00</span></li>
                            <li><span>@item.StatusDesc</span></li>
                            @*<li> <a href="#" class="add-cart cart-check item_add">Pagar</a></li>*@
                            <div class="clearfix"> </div>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
